@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

#root {
    height: 100%;
    width: 100%;
    display: flex;
}

.content {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}